@page
@model webApi.Pages.Boardmembers.IndexModel


@{
    ViewData["Title"] = "Index";
}

<h2>Board of Director Members</h2>
<!--
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoardMember[0].BoardRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoardMember[0].Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        -->

<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>OUR TEAM</h2>
<p>Meet the team - our office rats:</p>

<div class="w3-row"><br>

</div>
</div>
@foreach (var item in Model.BoardMember) {

    <div class="w3-quarter">
  <!--<img src="/w3images/avatar.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">-->
  <div>
      @Html.DisplayFor(modelItem => item.Image)
  </div>
  <h3>
      @Html.DisplayFor(modelItem => item.Name)
  </h3>
  <p>
       @Html.DisplayFor(modelItem => item.BoardRole)
  </p>
</div>
        
}

    </tbody>
</table>
