@page
@model webApi.Pages.Boardmembers.IndexModel


@{
    ViewData["Title"] = "Index";
}

<h2>Board of Director Members</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoardMember[0].BoardRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoardMember[0].Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
 @{
        var i = 0;
}
@foreach (var item in Model.BoardMember) {
   
        <tr>
            <td>
                <!--@Html.DisplayFor(modelItem => item.UserId)-->
              @Html.DisplayFor(modelItem => Model.UserList[i].UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
           <!-- <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td> -->
        </tr>
        i++;
}

    </tbody>
</table>
