@page
@model webApi.Pages.Events.IndexModelEvent

@{
    ViewData["Title"] = "Events";
    ViewData["ActivePage"] = "Events";
    Layout = "~/Areas/Identity/Pages/Account/Admin/_Layout.cshtml";
}
<div class="card" id="containerLayout" style="padding: 20px">
    <h2 class="heading">Manage your Admin account</h2>
    <div>
        <hr />
        <div class="row">
            <partial name="ANav" />
            <div class="col-md-9 center">
                <div class="row justify-content-center">

                    <h2 class="heading"><a asp-page="Create">Create New Event</a></h2>

                    @if (Model.Event.Count > 0)
                    {


                        <table class="table">
                            <thead class="text-light" style="background:black; ">
                                <tr>
                                    <th scope="col"> @Html.DisplayNameFor(model => model.Event[0].Title) </th>
                                    <th scope="col"> Starting date </th>
                                    <th scope="col"> End date </th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Event)
                                {
                                    <tr>
                                        <td> @Html.DisplayFor(modelItem => item.Title) </td>
                                        <td> @Html.DisplayFor(modelItem => item.StartDate) </td>
                                        <td> @Html.DisplayFor(modelItem => item.date) </td>
                                        <td>
                                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>