@page
@model webApi.Pages.Boardmember.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="card container" id="containerLayout" style="padding: 20px">
    <h2 class="heading">Manage your Admin account</h2>
    <div>
        <hr />
        <div class="row">
            <partial name="ANav" />
            <div class="col-md-9">
                <div class="row justify-content-center">

                    <div>
                        <h1 class="text-center" style="margin-top:20px; margin-bottom: 20px;">Details</h1>
                        @if (Model.BoardMember.Image == "")
                        {

                        }
                        else
                        {
                            <img src="~/images/boardmembers/@Model.BoardMember.Image" style="padding:20px">
                        }
                    </div>
                </div>
                <div style="padding: 20px;">
                    <div class="card-body">
                        <p>Name</p>
                        <h5 class="card-title">@Model.BoardMember.Name</h5>
                        <p>Board Role</p>
                        <p class="card-text">@Model.BoardMember.BoardRole</p>
                        <p>Text</p>
                        <p class="card-text">@Model.BoardMember.text</p>
                        <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.BoardMember.Id">Edit</a>
                        <a class="btn btn-primary" asp-page="./Delete" asp-route-id="@Model.BoardMember.Id">Delete</a>
                        <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
