@page
@model webApi.Pages.Boardmember.IndexModel

@{
    ViewData["Title"] = "Index";
    ViewData["ActivePage"] = "BoardMembers";
     Layout = "~/Areas/Identity/Pages/Account/Admin/_Layout.cshtml";
}

<div class="card" id="containerLayout" style="padding: 20px">
    <h2 class="heading">Manage your Admin account</h2>
    <div>
        <hr />
        <div class="row">
            <partial name="ANav" />
            <div class="col-md-9 center">
                <div class="row justify-content-center">

                    <h2 class="heading"><a asp-page="Create">Create Board Member</a></h2>

                    @if (Model.BoardMember.Count > 0)
                    {


                        <table class="table">
                            <thead class="text-light" style="background:black; ">
                                <tr>
                                    <th scope="col"> @Html.DisplayNameFor(model => model.BoardMember[0].Name) </th>
                                    <th scope="col"> @Html.DisplayNameFor(model => model.BoardMember[0].BoardRole) </th>
                                    <th scope="col">  </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.BoardMember)
                                {
                                    <tr>
                                        <td> @Html.DisplayFor(modelItem => item.Name) </td>
                                        <td> @Html.DisplayFor(modelItem => item.BoardRole) </td>
                                        <td>
                                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>