@page
@model webApi.Areas.Identity.Pages.Account.Admin.ManageUsersModel
@{
    ViewData["Title"] = "Index";
    // ég er svo fokking gáfaður.
    // Til að nota eigið _Layout þarf að gefa því absolute path í Index.
    Layout = "~/Areas/Identity/Pages/Account/Admin/_Layout.cshtml";
}
<<<<<<< HEAD
<p>@Model.user[0].address</p>
=======
>>>>>>> 4a53c2893a79bc58dbb524cddd732b368cbd1557
<h2>Manage users</h2>
<table>
    <tr>
        <th>First name</th>
        <th>Middle name</th>
        <th>Last name</th>
        <th>Address</th>
        <th>City</th>
        <th>Phone number</th>
        <th>email</th>
        <th>email Confirmed</th>
        <th>registered</th>
        <th>affiliation</th>
        <th>Payment confirmed</th>
    </tr>
    @{ 
        foreach(var item in Model.user)
        {
            <tr>
                <td>@item.firstName</td>
                <td>@item.middleName</td>
                <td>@item.lastName</td>
                <td>@item.address</td>
                <td>@item.city</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Email</td>
                <td>@item.EmailConfirmed</td>
                <td>vantar</td>
                <td>@item.affiliation</td>
                <td>vantar</td>
            </tr>
        }
    }
</table>

